<section class="loginForm">
  <p LogoDirectiveDirective>Computer Service</p>
  <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
    <div class="input-group">
      <label for="email">Email: </label>
      <input formControlName="email" id="email" type="email" />
      <div
        class="err"
        *ngIf="
          registrationForm.get('email')?.hasError('required') &&
          registrationForm.get('email')?.touched
        "
      >
        Email is required.
      </div>
      <div
        class="err"
        *ngIf="
          registrationForm.get('email')?.hasError('pattern') &&
          registrationForm.get('email')?.touched
        "
      >
        Please enter a valid email address.
      </div>
    </div>

    <div class="input-group">
      <label for="firstName">First Name: </label>
      <input formControlName="firstName" id="firstName" type="text" />
      <div
        class="err"
        *ngIf="
          registrationForm.get('firstName')?.hasError('required') &&
          registrationForm.get('firstName')?.touched
        "
      >
        First name is required.
      </div>
      <div
        class="err"
        *ngIf="
          registrationForm.get('firstName')?.hasError('minlength') &&
          registrationForm.get('firstName')?.touched
        "
      >
        First name should be at least 2 characters long.
      </div>
      <div
        class="err"
        *ngIf="
          registrationForm.get('firstName')?.hasError('pattern') &&
          registrationForm.get('firstName')?.touched
        "
      >
        Name must start with capital letter, no special chars or numbers.
      </div>
    </div>

    <div class="input-group">
      <label for="lastName">Last Name: </label>
      <input formControlName="lastName" id="lastName" type="text" />
      <div
        class="err"
        *ngIf="
          registrationForm.get('lastName')?.hasError('required') &&
          registrationForm.get('lastName')?.touched
        "
      >
        Last name is required.
      </div>
      <div
        class="err"
        *ngIf="
          registrationForm.get('lastName')?.hasError('minlength') &&
          registrationForm.get('lastName')?.touched
        "
      >
        Last name should be at least 3 characters long.
      </div>
      <div
        class="err"
        *ngIf="
          registrationForm.get('lastName')?.hasError('pattern') &&
          registrationForm.get('lastName')?.touched
        "
      >
        Name must start with capital letter, no special chars or numbers.
      </div>
    </div>

    <div class="input-group">
      <label for="password">Password: </label>
      <input formControlName="password" id="password" type="password" />
      <div
        class="err"
        *ngIf="
          registrationForm.get('password')?.hasError('required') &&
          registrationForm.get('password')?.touched
        "
      >
        Password is required.
      </div>
      <div
        class="err"
        *ngIf="
          registrationForm.get('password')?.hasError('minlength') &&
          registrationForm.get('password')?.touched
        "
      >
        Password should be at least 5 characters long.
      </div>
    </div>

    <div class="input-group">
      <label for="phoneNumber">Phone Number: </label>
      <input formControlName="phoneNumber" id="phoneNumber" type="text" />
      <div
        class="err"
        *ngIf="
          registrationForm.get('phoneNumber')?.hasError('required') &&
          registrationForm.get('phoneNumber')?.touched
        "
      >
        Phone number is required.
      </div>
      <div
        class="err"
        *ngIf="
          registrationForm.get('phoneNumber')?.hasError('pattern') &&
          registrationForm.get('phoneNumber')?.touched
        "
      >
        Please enter a valid 9-digit phone number.
      </div>
    </div>

    <button type="submit">Register</button>
  </form>
</section>
