<p LogoDirectiveDirective>Serwis Komputerowy</p>


<section>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="input-group">
            <label for="email">Email: </label>
            <input formControlName="email" id="email" type="email">
        </div>
        <div class="input-group">
            <label for="password">Password: </label>
            <input formControlName="password" id="password" type="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</section>