<section class="addReport">
  <p LogoDirectiveDirective>Computer Service</p>
  <h3>Add Report</h3>

  <form [formGroup]="newReport" (ngSubmit)="onSubmit()" class="sort">
    <div class="add-box">
      <label for="problemDescription">Description Of The Problem</label>
      <textarea
        id="problemDescription"
        name="problemDescription"
        formControlName="problemDescription"
        required
        [(ngModel)]="problemDescription"
      ></textarea>
    </div>
    <div
      class="err"
      *ngIf="
        newReport.get('problemDescription')?.hasError('minlength') &&
        newReport.get('problemDescription')?.touched
      "
    >
      Problem Description needs to be at least 50 characters
    </div>
    <div
      class="err"
      *ngIf="
        newReport.get('problemDescription')?.hasError('required') &&
        newReport.get('problemDescription')?.touched
      "
    >
      Problem Description is required.
    </div>

    <div class="add-box">
      <label for="priority">Priority:</label>
      <select
        id="priority"
        name="priority"
        formControlName="priority"
        required
        [(ngModel)]="selectedPriority"
      >
        <option *ngFor="let priority of priorityOptions" [value]="priority">
          {{ priority }}
        </option>
      </select>
    </div>
    <div
      class="err"
      *ngIf="
        newReport.get('priority')?.hasError('required') &&
        newReport.get('priority')?.touched
      "
    >
      You need to select Priority.
    </div>

    <div>
      <button type="submit">Add Report</button>
    </div>
  </form>
</section>
